
    body {
        background-color: rgb(197, 118, 197);
    }

    #titulo {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .subt {
        color: rgb(204, 225, 83);
    }

    img {
      border: 10px solid rgb(93, 9, 142);
    }